{% extends 'base.html.twig' %}

{% block body %}

    <button><a href="{{ path('home') }}">Accueil</a></button>

    {% for unepersonne in lespersonnes  %}

        <p>{{ unepersonne.nom }}</p>
        <p>{{ unepersonne.prenom }}</p>
        <p>{{ unepersonne.age }}</p>


    {% endfor %}

{% endblock %}